<thermometer
  [minTemperature]="minTemperature"
  [maxTemperature]="maxTemperature"
  [curTemperature]="curTemperature"/>

<form [formGroup]="form">
  <label for="minTemperature">Minimal temperature</label>
  <input id="minTemperature" formControlName="minTemperature" type="number">

  <label for="maxTemperature">Maximal temperature</label>
  <input id="maxTemperature" formControlName="maxTemperature" type="number">

  <label for="curTemperature">Current temperature</label>
  <input id="curTemperature" formControlName="curTemperature" type="number">
</form>
